.VFDUI {
  width: 100%;
  height: 100%;
  display: flex;
}

.InterfaceContainer,
.FlipDotContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.InterfaceContainer {
  background: var(--color-flipDot-reg);
}
.InterfaceContainerMainUI {

}
.InterfaceContainerTypeToggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.InterfaceContainerMainUIToggle {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.FlipDotContainer {
  background: var(--color-flipDot-dark);
  overflow: hidden;
}
