:root {
  /* Typography */
  --font-family-reg: sans-serif;
  --font-family-mono: 'Space Mono', monospace;

  /* Colors */
  --color-white: #FFF;
  --color-black: #000;
  --color-text-disabled: rgba(0,0,0,0.3);

  /* FlipDotColors */
  --color-flipDot-black: var(--color-black);
  --color-flipDot-case: #1B1B1B;

  --color-flipDot-reg: #F2F03F;
  --color-flipDot-light: #FDFB61;
  --color-flipDot-dark: #DDDB1F;

  /* Sizes */
  --grid-unit: 10px;
  --max-width: 1200px;
}
