.VirtualFlipDot {
  background: var(--color-flipDot-case);
}

.VirtualFlipDotMatrix {

}

.VirtualFlipDotButton {
  position: absolute;
  border: solid 2px var(--color-flipDot-black);
  border-radius: 1000px;
  cursor: pointer;
}
.VirtualFlipDotButton:active {
  background: var(--color-flipDot-black);
}
.VirtualFlipDotButtonArrow {
  position: absolute;
  top: 50%;
  left: calc( 100% + 10px );
  transform: translateY(-50%);
  width: 200px;
  font-size: 20px;
  color: #FFF;
}

.VirtualFlipDotCable {
  position: absolute;
  top: 100%;
  right: 50px;
  width: 10px;
  background: var(--color-flipDot-black);
  height: 100vh;
}
